@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,700");
html {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f5f5f5; }

.main-title {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
  color: orangered; }
  .main-title b {
    font-weight: 700; }
