.todos{
  .todo-control {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  .todo-add{
    margin: auto;
    max-width: 400px;
    position: relative;
    input{
      width: calc(100% - 74px);
      padding: 10px 50px 10px 20px;
      outline: none;
    }
    .todo-control{
      position: absolute;
      right: 0;
      top: 0;
      margin: 7px 5px 0 0;
      &.new{
        background: orangered url("/images/icons/add-btn.svg") no-repeat center center;
        background-size: 45%;
      }
    }
  }
  .todo-stats{
    margin: auto;
    max-width: 400px;
    position: relative;
    p{
      width: 50%;
      display: inline-block;
      font-weight: lighter;
      transition: all .2s ease;
      &.cleaner{
        text-align: right;
        &:hover{
          cursor: pointer;
          color: orangered;
        }
      }
    }
  }
  .todo-list{
    list-style-type: none;
    max-width: 400px;
    width: 100%;
    margin: 10px auto 0 auto;
    .todo-item{
      background-color: white;
      margin-bottom: 15px;
      box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
      transition: all .2s ease;
      margin-top: -10px;
      z-index: 2;
      position: relative;
      input{
        padding: 13px 0 13px 20px;
        border: none;
        font-size: 1rem;
        font-style: italic;
        outline: none;
        width: calc(100% - 135px);
      }
      &.completed{
        margin-top: 0;
        z-index: 1;
        position: relative;
        margin-bottom: 0;
        box-shadow: 0px 5px 7px 0px rgba(0,0,0,0);
        opacity: .6;
        p{
          text-decoration: line-through;
        }
      }
      p{
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        width: calc(100% - 135px);
        vertical-align: top;
        word-wrap: break-word;
      }
    }
    .todo-control{
      float: right;
      margin: 5px 5px 0 0;
      &:hover{
        cursor: pointer;
      }
      &.close{
        background: orangered url("/images/icons/delete-btn.svg") no-repeat center center;
        background-size: 40%;
      }
      &.complete{
        background: orangered url("/images/icons/done-btn.svg") no-repeat center center;
        background-size: 40%;
      }
      &.save{
        background: orangered url("/images/icons/save-btn.svg") no-repeat center center;
        background-size: 40%;
      }
    }
  }
}
